form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label, input, textarea, button {
    margin-bottom: 1em;
}

input, textarea {
    padding: 0.5em;
    font-size: 1em;
}

button {
    padding: 0.5em;
    font-size: 1em;
    background-color: bisque;
    color:black;
    border: none;
    cursor: pointer;
}